div {
  width: 100%;
  height: 100%;
}
.root {
  background-color: #6c6ce3;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  cursor: pointer;
}

.stack {
  background-color: rgb(164, 255, 59);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
}

.proyects {
  background-color: #febfb5;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
}

.contact {
  background-color: rgb(117 198 219);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
}
