.root {
  background-color: #6c6ce3;
  color: white;
  padding: 5px 17px;
  min-width: 60px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  cursor: pointer;
}
