.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 97%;
  margin: 0 auto 3vh auto;
  border-radius: 20px;
  background-image: url("../../../public/stack.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  min-height: 64vh;
  width: 100%;
  width: 97%;
  border-radius: 20px;
  margin: 0 auto 3vh auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
