.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15vh;
  width: 97%;
  margin: 0 auto 3vh auto;
  border-radius: 20px;
  background-image: url("../../../public/stack.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
}

.container {
  min-height: 37vh;
  width: 100%;
  width: 97%;
  border-radius: 20px;
  margin: 0 auto 3vh auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.31);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
  border: 1px solid rgba(255, 255, 255, 0.26);
  background-image: url("../../../public/stack.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
