.root {
  background-image: url("../../../public/logo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 45px;
  width: 45px;
  border-radius: 50%;
}
