.root {
  background-image: url("../../../public/logo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid white;
}

.headerTitle {
  color: white;
  margin-left: 5px;
  font-size: 23px;
  font-family: "Oswald", sans-serif;
  letter-spacing: 3px;
}

.logoContainer {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding: 0 7px;
  cursor: pointer;
}
