.leftLine {
  height: 2px;
  width: 100%;
  background-color: black;
  transform: rotate(45deg);
  position: absolute;
  animation: lower 0.3s linear;
}
.rightLine {
  height: 2px;
  width: 100%;
  background-color: black;
  transform: rotate(-45deg);
  animation: lower 0.3s linear;
}

@keyframes lower {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
