.root {
  height: 87vh;
  width: 97%;
  margin: 0 auto 3vh auto;
  border-radius: 20px;
  background-image: url("../../../public/about.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.aboutContainer {
  background-color: rgba(25, 0, 255, 0.459);
  height: 100%;
  width: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textContainer {
  width: 80%;
  min-height: 500px;
  padding: 0;
}
