.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.root {
  height: 20vh;
  width: 97%;
  margin: 0 auto 3vh auto;
  border-radius: 20px;
  background-image: url("../../../public/about.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
}

.aboutContainer {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textContainer {
  width: 97%;
  height: 60vh;
  margin: 0 auto 3vh auto;
  min-height: 200px;
  padding: 0;
  font-size: 22px;
  background-color: rgba(182, 240, 255, 0.87);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
}
