.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15vh;
  width: 80%;
  margin: 0 0 0 auto;
  background-image: url("../../../public/contact.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 600px) {
  .root {
    width: 100%;
    margin: 10vh auto 0 auto;
  }
}

.contactContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
  width: 80%;
  margin: 0 0 0 auto;
  background-color: #1d2226;
}

.links {
  height: 85vh;
  width: 50%;
}

.form {
  height: 85vh;
  width: 50%;
  /*background-color: black;*/
  background-color: #77c9df;
  padding: 20px;
}

.formTitle {
  color: black;
}

@media screen and (max-width: 600px) {
  .contactContainer {
    width: 100%;
    min-height: 75vh;
    margin: 0 auto;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fafafa;
  padding: 2rem;
}

.MuiFormControl-root {
  margin-bottom: 1rem;
}
