.root {
  background-color: white;
  margin: 2vh auto;
  height: 8vh;
  width: 97%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.438);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
  border: 1px solid rgba(255, 255, 255, 0.589);
}
