.root {
  background-color: #1d2226;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto 2vh auto;
  padding: 15px;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.438);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
  z-index: 2;
}
