.root {
  background-color: white;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 0 0 auto;
}

@media screen and (max-width: 600px) {
  .root {
    width: 100%;
  }
  .text {
    font-size: 12px;
  }
}
