.root {
  height: 40px;
  width: 40px;
  border-radius: 25px;
  border: 2px solid;
  display: none;
}

@media (max-width: 600px) {
  .root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.line {
  height: 2px;
  width: 60%;
  background-color: black;
  margin: 3px auto;
}

.crosslineContainer {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
