.root {
  min-height: 40vh;
  width: 300px;
  margin: 20px;
  border-radius: 20px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.31);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
  border: 1px solid rgba(255, 255, 255, 0.26);
}

.imgContainer {
  height: 25vh;
  width: 100%;
}

.cardBody {
  height: 100%;
  padding: 10px;
}

.root:hover {
  background-color: rgb(255, 244, 248);
  transition: background-color 0.6s ease;
}

.cardLinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
