.logoContainer {
  background-image: url("../../../public/js.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}
