.root {
  height: 8vh;
  min-width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 5px;
  padding: 10px;
}

@media (max-width: 767px) {
  .root {
    display: none;
  }
}
