.root {
  height: 8vh;
  min-width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 5px;
  padding: 10px;
  border-radius: 25px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.438);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
  border: 1px solid rgba(255, 255, 255, 0.589);
}

@media (max-width: 767px) {
  .root {
    display: none;
  }
}
