.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 97%;
  margin: 0 auto 3vh auto;
  border-radius: 20px;
  background-image: url("../../../public/proyects.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.proyectsContainer {
  min-height: 65vh;
  max-width: 97%;
  margin: 0 auto 3vh auto;

  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
